/* NO LOPUEDO HACER ANDAR */

  .customFinput::file-selector-button {
    background-image: linear-gradient(
      to right,
      #ff7a18,
      #af002d,
      #319197 100%,
      #319197 200%
    );
    background-position-x: 0%;
    background-size: 200%;
    border: 0;
    border-radius: 8px;
    color: #fff;
    padding: 1rem 1.25rem;
    text-shadow: 0 1px 1px #333;
    transition: all 0.25s;
  }
  input::file-selector-button:hover {
    background-position-x: 100%;
    transform: scale(1.1);
  }